#
# Project files
#

data/
*.zip

#
# Jupyter
#

.ipynb_checkpoints/

#
# OSX
#

.DS_Store

#
# Windows
#

Thumbs.db

#
# Eclipse
#

.classpath
.project
.metadata
.settings/

#
# JetBrains IDEs
#

.idea
*.iws
/out/
.idea_modules/

#
# Vim
#

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*~
